
/*
span.twitterhashtag {
	font-size:120%;
	color: red;
	text-decoration: underline;
	font-weight:bold;
}
*/

span.twitterhashtag {
	color:black;
	display:inline-block;
	background: rgba(255,150,150,1.0);
	border-radius: 4px;
	border:solid 1px;
	border-color: rgba(255,100,100,1.0);
	text-shadow:none;
}

span.twitteruser {
	color:black;
	display:inline-block;
	background: rgba(150,255,150,1.0);
	border-radius: 4px;
	border:solid 1px;
	border-color: rgba(100,255,100,1.0);
	text-shadow:none;
}

span.twitterurl {
	color:black;
	display:inline-block;
	background: rgba(150,150,255,1.0);
	border-radius: 4px;
	border:solid 1px;
	border-color: rgba(100,100,255,1.0);
	text-shadow:none;
}

span.tweetid {
	color:black;
	display:inline-block;
	background: rgba(150,250,250,1.0);
	border-radius: 4px;
	border:solid 1px;
	border-color: rgba(100,100,100,1.0);
	text-shadow:none;
}

span.userid {
	color:black;
	display:inline-block;
	background: rgba(150,200,200,1.0);
	border-radius: 4px;
	border:solid 1px;
	border-color: rgba(100,100,100,1.0);
	text-shadow:none;
}

span.twitterretweet {
	display:inline-block;
	padding:0.25em;
	background: rgba(255,255,150,1.0);
	border-radius: 4px;
	border:solid 1px;
	border-color: rgba(255,255,100,1.0);
	text-shadow:none;
}

span.fielddescriptor {
	font-size:80%;	
	font-style: italic;
}

label.parameterdescriptor {
	font-size:80%;	
	font-style: italic;
}

p.infostring {
	font-size:80%;
}

.resultpanel-controls {
    font-size: 84%;
}

.resultpanel-controls .ui-controlgroup-label{
    float: none;
    display: block;
    text-align: center;
    width: 100%;
}
.resultpanel-controls .ui-controlgroup-label legend{
    width: 100%;
    margin-bottom: 8px;
}
.resultpanel-controls .ui-controlgroup-controls {
    float: none; 
    display: block;
    width: 100%;
}
.resultpanel-controls .ui-radio{
    width: 33.33%;
}
.resultpanel-controls .ui-radio label{
    text-align: center;
    white-space: nowrap;
}